


    <div class="box">
    <body>
        <header>
            <h2>おすすめ金魚診断</h2>
            <p>ここでは、５つの質問からあなたの希望に合いそうな金魚を判定します！</p>
        </header>
        <p><%= image_tag "syuugou.jpg", class: "custom-imageH" %></p>
        <div class="start">
            <%= link_to "診断を始める", new_pet_path, class: "link" %>
        </div>
    </body>
    </div>