<!DOCTYPE html> <!--　この文章がHTML文章であることを伝える要素です。-->
<html lang="ja"><!--言語の指定-->
  <head><!--ページに表示されない情報(サイトの裏側の設定)-->
    <meta charset="utf-8">
    <title></title><!--ブラウザのタブのタイトルを指定-->
    <link rel="stylesheet" type="text/css" href="stylesheets/index.css">

  <head>


<div class="big-boxB">

<p>ここでは金魚の飼育方法について簡単に紹介します</p>
    <div class="box1B">
        <p><span>1.水槽設備</span></p>
        <p>これから金魚を飼おう！と決めたら、まずは必要なものを揃えましょう。<br><br><br></p>
        <p><span>水槽</span></p>
        <p>まずは水槽です。様々な大きさのものがあるので、飼いたいと思っている品種や数に合わせたものを用意しましょう。体長3～5cmの金魚なら、30cm水槽で2～3匹、60cm水槽で6～7匹程度が適正でしょう。しかし、大抵の金魚は10cm以上にはなるので、小さい水槽や金魚鉢での長期飼育は難しいことを理解しておかなければなりません。10cmの金魚なら60cm水槽でも2～3匹が適正です。頻繁に水換えをするならもう少し多く飼えるかも知れませんが、基本的に過密飼育はいじめや病気のもとになりメリットはありません。</p>
        <p><span>フィルター</span></p>
        <p>金魚は水を汚しやすい生き物です。水質悪化や酸欠を防ぐためにもフィルターの設置をおすすめします。フィルターにはいくつか種類がありますが、手頃なのは「投げ込み式」か「外掛け式」でしょう。投げ込み式は水槽の底に沈めるタイプで、ブクブクと泡を出します。最も安価でメンテナンスも簡単ですが、濾過能力は高くありません。<br>外掛け式は、水槽の壁面に引っかけて使うタイプで、水槽内でスペースをとらず、泡が発生しないので金魚の観賞がしやすいと言えるでしょう。音も静かでメンテナンスもそれほど大変ではないので個人的には外掛け式の方がおすすめです。<br><br><br><br></p>
        <p>フィルターはあるに越したことはないですが、無くても金魚の飼育は可能です。大きな水槽や池で飼う場合や1、2匹しか飼わない場合は水質の悪化も緩やかで酸欠も起こりにくいので、フィルターなしでも大丈夫な場合もあります。ただし、濾過機能がないのでゴミはどんどん水槽に溜まります。特に大きくない水槽でフィルターなしの飼育をするなら水換えは頻繁に行う必要があります。<br><br><br><br></p>
        <p><span>エサ</span></p>
        <p>金魚のエサは粒状、フレーク状、天然、人工など様々なタイプがあります。この品種はこのエサ！という決まりは特にないので最初は手に入れやすいものを選べば大丈夫だと思います。<br><br><br><br></p>
        <p><span>ヒーター</span></p>
        <p>金魚は無加温での飼育も可能ですが、水温が下がると消化不良などを起こしやすいため健康管理のためにあると便利です。<br><br><br><br></p>
        <p><span>砂・砂利</span></span></p>
        <p>絶対になければいけないわけではありませんが、水槽の底に砂や砂利を敷くとバクテリアが定着し、水質が安定します。<br><br><br><br></p>
        <p><span>温度計</span></p><p>無くても大丈夫ですが、水温管理のためにはあると便利です。<br><br><br></p>
        <p><span>隠れ家</span></p><p>隠れ家があっても全く入らないケースも多いので特に必須ではありませんが、常に人目がある所に水槽を置いたり、同じ水槽で多頭飼いする際は金魚が隠れるために水草や土管を置いてあげるといいかもしれません。金魚が挟まったり体を傷つけたりしないように素材やサイズに気をつけましょう。<br><br><br></p>
        <p><span>水換え用ポンプ</span></p><p>水換えで水を汲み出したり、砂利に溜まったゴミを吸い出したりできて便利です。<br><br><br></p>

        <p><span>2.金魚を飼ってきたらら</span></p>
        <p>まずすべきことは「水合わせ」です。<br>金魚すくいやホームセンターで飼ってきた金魚は、様々なストレスにさらされて弱っていることもあり、ここで正しいメンテナンスを行わないと、数日で死んでしまった...ということになりかねません。<br>これから入れる水槽の水と今まで入っていた飼育水は水温も水質も大きく異なる可能性があり、いきなり移し替えるとショックを起こすことがあります。それを防ぐために、新しい水に徐々に慣らす必要があります。<br>やり方としては、水槽の水に金魚が入った袋をそのまま浸します。しばらくしたら、袋の水を少し捨て、水槽の水を入れます。これを数回繰り返したら金魚を水槽に移します。<br>既に魚がいる水槽に新たな個体を追加する場合は、新しい個体が病気になっていないかよく確認することが大切です。新しい魚から水槽全体に病気が広がることがあります。心配であれば新しい魚は1週間ほど塩水浴してから入れると良いでしょう。<br></p>


        <p><span>3．エサやり</span></p>
        <p>エサは5分ほどで食べきるくらいの量が適量と言われています。金魚がエサを欲しがるとついあげすぎてしまいますが、エサの与えすぎは消化不良や水質悪化に繋がるので注意が必要です。餌やりの頻度について、市販のエサの容器には1日複数回と書いてある場合もありますが、1回でも問題ありません。複数回与える場合は1回分を少なくしましょう。また、寒い季節は金魚の活動が鈍るため、エサの頻度や量を減らすとよいです。<br><br><br><br></p>

        <p><span>4．水換え</span></p>
        <p>水換えの頻度は水槽の大きさや設備によって変わってきますが、1～2週間に1回、水槽の3分の1～半分程度の量が基本です。小さい水槽だったり、魚の数が多い、フィルターを使っていないという場合は水も早く汚れるので当然水換えの頻度も多くしなければなりません。しかし、水換えのしすぎもあまり良くないので、毎日のように換えるのは控えましょう。<br><br><br><br></p>
        <p>ポイント<br>･水換えの際は、水を入れ替えるだけでなく砂利の中に溜まった分や食べ残しも取るようにしましょう。フィルターがあってもゴミは水槽内に結構溜まります。<br><br><br><br></p>
        <p>･水道で汲んだ水を水槽に入れる際は要注意です。水道水には塩素（カルキ）が含まれていて魚には有害なので、カルキ抜きが必要です。カルキ抜き用品がペットショップに売っています。バケツなどに汲んだ水道水を半日～1日日光に当てる方法でもカルキ抜きができます。<br><br><br><br></p>
        <p>･フィルターやヒーターは水換えが終わるまでコンセントを抜いておきましょう。感電の危険があります。<br><br><br><br></p>
        <p>･フィルターの内部にも少しずつ汚れが溜まり、放置すると水が流れにくくなったりと不調の原因になります。ろ材の交換だけでなく、数ヶ月に1回は内部の掃除をしましょう。<br><br><br><br></p>

        <p><span>5．混泳について</span></p>
        <p>金魚は様々な品種がありどれも綺麗なので、いろんな種類の金魚を飼ってみたい！と思う方も多いでしょう。しかし、同じ水槽で違う品種を飼う場合は相性に注意しなければなりません。<br>金魚は、大きく分けて細長い和金体型ものと、ずんぐりした琉金体型がいて、この2つは一緒に飼うには相性が悪いと言われています。和金型は泳ぎが上手く素早く動く一方で、琉金型は泳ぎが苦手なため、一緒にするといじめられたりエサが上手く食べられなかったりすることがあるのです。和金型型と琉金型を混泳させてもトラブルがない場合もありますが、可能なら分けて飼育する方が良いでしょう。<br>ドジョウやタニシ、淡水エビなど別種の生き物と混泳させることもできますが、同様に相性には注意が必要です。金魚の口に入るサイズのメダカや小さなエビ、金魚を傷つける恐れがあるザリガニなどとの混泳は避けましょう。<br>同居する金魚同士の相性が悪いと、たとえ同種であってもいじめなどが発生します。新しい水槽を立ち上げたり、魚を追加したら、追いかけ回されている個体がいないかしばらく注意しましょう。放置するといじめられた側は衰弱死してしまうこともあるため、別水槽での飼育を検討することをおすすめします。<br></p>

        <p><span>6.病気について</span></p>
        <p>金魚も病気になることがあります。白点病などの代表的な病気については「金魚の病気一覧」のページにも記載しているので、病状をよく覚えておきましょう。どんな病気も早期治療が大切です。明確な病気の症状が出なくても弱っていることもあるので日々の健康チェックを欠かさず行いましょう。<br><br><br><br></p>

        <p><span>魚の体調不良のサイン</span><br><br><br><br></p>
        <p>･背びれをずっと畳んでいる（元気な魚は寝ているときでも大抵背びれが立っています）<br><br><br><br></p>
        <p>･水面に浮かんだり、底に沈んだりしてぼうっとしている<br><br><br><br></p>
        <p>･フンが細切れになったり、気泡が混ざったりしている<br><br><br><br></p>
        <p>･体色がくすんでいる<br><br><br><br></p>
        <p><br><br><br><br></p>
        <p>金魚が以上のような状態になっていたら要注意です。早めに塩水浴をしてみるのもいいかもしれません。<br><br><br><br></p>
        <p><br><br><br><br></p>
        <p>病魚が出たときの対処</span><br><br><br><br></p>
        <p>病気の魚や病気で死んでしまった魚が出たら、水槽全体が病原体で汚染されている可能性があるので、水を全部入れ替えることをおすすめします。病魚は別の入れ物に隔離して塩水浴や薬浴で治療します。病気の治療中はエサを食べると消化にエネルギーを費やしてしまうため、しばらく絶食させたほうがいいです。1週間程度の絶食なら問題ありません。回復してきたら少しずつ食べさせましょう。<br><br><br><br></p>
    </div>
</div>
<p><br><br><br><br></p>
<p><br><br><br><br></p>



