<!DOCTYPE html> <!--　この文章がHTML文章であることを伝える要素です。-->
<html lang="ja"><!--言語の指定-->
    <head><!--ページに表示されない情報(サイトの裏側の設定)-->
        <meta charset="utf-8">
        <title>金魚の種類診断スタート</title><!--ブラウザのタブのタイトルを指定-->
    </head>

    <div class="box">
    <body>
        <header>
            <h1 class="headline">
            <a>Animal</a>
            </h1>
            <ul class="nav-list">
                <li class="nav-list-item"></li>
                
            </ul>
        </header>

        <div class="start">
            <h6>Are you ready?</h6>
            <%= link_to "診断を始める", new_animal_path, class: "link" %>
        </div>
    </body>
    </div>
