
    <div class="box">
    <body>
        <header>
            <h2>金魚種類判別</h2>
        </header>

        <div class="start">
        <p><%= image_tag "syuugou.jpg", class: "custom-imageH" %></p>
            <%= link_to "診断を始める", new_animal_path, class: "link" %>
        </div>
    </body>
    </div>
