// Place all the styles related to the animals controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.box {
    color: rgb(0, 0, 0);  /*文字色を青に設定*/
    background-color:rgb(169, 248, 248);
   }

   
.headline {
    color: rgb(0, 0, 0);  /*文字色を青に設定*/
    background-color:rgb(255, 255, 255);
    font-size: 100%;
    margin: 0 auto;
    height: 50px;
    width: 80%;
   }

   
.start {
    color: rgb(0, 0, 0);  /*文字色を青に設定*/
    background-color:rgb(255, 255, 255);
    font-size: 100%;
    margin: 0 auto;
    height: 50px;
    width: 80%;
   }


 .intoro {
    color: rgb(0, 0, 0);  /*文字色を青に設定*/
    background-color:rgb(169, 248, 248);
   }

.tweet-container {
    color: rgb(0, 0, 0);  /*文字色を青に設定*/
    background-color:rgb(169, 248, 248);
    font-size: 100%;
    margin: 0 auto;
    height: 600px;
    width: 80%;
   }

   .tweet {
    color: rgb(0, 0, 0);  /*文字色を青に設定*/
    background-color:rgb(169, 248, 248);
    font-size: 100%;
    margin: 0 auto;
    height: 50px;
    width: 80%;
   }

   .custom-imageA {
    position: absolute;  
    top:150px;  
    left: 350px;
    width: 40%;
   }

.h6 {
    font-size: 150%;
    position: absolute; 
    font-weight: 100; 
}