// Place all the styles related to the diseases controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.big-box {
    color: rgb(0, 0, 0);  /*文字色を青に設定*/
    background-color:rgb(169, 248, 248);
   }

.p{
    margin: bottom 30px;    
}

.box1A {
    color: rgb(0, 0, 0);  /*文字色を青に設定*/
    font-size: 100%;
    margin: 0 auto;
    width: 80%;
    background-color:rgb(243, 250, 205);
    height: 470px;
   }

   .box1-A {
    color: rgb(0, 0, 0);  /*文字色を青に設定*/
    font-size: 100%;
    position: absolute;  
    top: 40px;  
    left: 580px; 
    margin: 0 auto;
    width: 40%;
    background-color:rgb(243, 250, 205);
    height: 400px;
   }

   .box2A {
    color: rgb(0, 0, 0);  /*文字色を青に設定*/
    font-size: 100%;
    margin: 0 auto;
    width: 80%;
    background-color:rgb(243, 250, 205);
    height: 400px;
   }

   .box2-A {
    color: rgb(0, 0, 0);  /*文字色を青に設定*/
    font-size: 100%;
    position: absolute;  
    top: 530px;  
    left: 580px; 
    margin: 0 auto;
    width: 40%;
    background-color:rgb(243, 250, 205);
    height: 300px;
   }

   .box3A {
    color: rgb(0, 0, 0);  /*文字色を青に設定*/
    font-size: 100%;
    margin: 0 auto;
    width: 80%;
    background-color:rgb(243, 250, 205);
    height: 400px;
   }

   .box3-A {
    color: rgb(0, 0, 0);  /*文字色を青に設定*/
    font-size: 100%;
    position: absolute;  
    top: 950px;  
    left: 580px; 
    margin: 0 auto;
    width: 40%;
    background-color:rgb(243, 250, 205);
    height: 300px;
   }

   .box4A {
    color: rgb(0, 0, 0);  /*文字色を青に設定*/
    font-size: 100%;
    margin: 0 auto;
    width: 80%;
    background-color:rgb(243, 250, 205);
    height: 400px;
   }

   .box4-A {
    color: rgb(0, 0, 0);  /*文字色を青に設定*/
    font-size: 100%;
    position: absolute;  
    top: 1350px;  
    left: 580px; 
    margin: 0 auto;
    width: 40%;
    background-color:rgb(243, 250, 205);
    height: 300px;
   }

   .box5A {
    color: rgb(0, 0, 0);  /*文字色を青に設定*/
    font-size: 100%;
    margin: 0 auto;
    width: 80%;
    background-color:rgb(243, 250, 205);
    height: 400px;
   }

   .box5-A {
    color: rgb(0, 0, 0);  /*文字色を青に設定*/
    font-size: 100%;
    position: absolute;  
    top: 1760px;  
    left: 580px; 
    margin: 0 auto;
    width: 40%;
    background-color:rgb(243, 250, 205);
    height: 300px;
   }

   .box6A {
    color: rgb(0, 0, 0);  /*文字色を青に設定*/
    font-size: 100%;
    margin: 0 auto;
    width: 80%;
    background-color:rgb(243, 250, 205);
    height: 400px;
   }

   .box6-A {
    color: rgb(0, 0, 0);  /*文字色を青に設定*/
    font-size: 100%;
    position: absolute;  
    top: 2180px;  
    left: 580px; 
    margin: 0 auto;
    width: 40%;
    background-color:rgb(243, 250, 205);
    height: 300px;
   }

   .box7A {
    color: rgb(0, 0, 0);  /*文字色を青に設定*/
    font-size: 100%;
    margin: 0 auto;
    width: 80%;
    background-color:rgb(243, 250, 205);
    height: 400px;
   }

   .box7-A {
    color: rgb(0, 0, 0);  /*文字色を青に設定*/
    font-size: 100%;
    position: absolute;  
    top: 2590px;  
    left: 580px; 
    margin: 0 auto;
    width: 40%;
    background-color:rgb(243, 250, 205);
    height: 300px;
   }

   .box8A {
    color: rgb(0, 0, 0);  /*文字色を青に設定*/
    font-size: 100%;
    margin: 0 auto;
    width: 80%;
    background-color:rgb(243, 250, 205);
    height: 400px;
   }

   .box8-A {
    color: rgb(0, 0, 0);  /*文字色を青に設定*/
    font-size: 100%;
    position: absolute;  
    top: 3020px;  
    left: 580px; 
    margin: 0 auto;
    width: 40%;
    background-color:rgb(243, 250, 205);
    height: 300px;
   }

   .box9A {
    color: rgb(0, 0, 0);  /*文字色を青に設定*/
    font-size: 100%;
    margin: 0 auto;
    width: 80%;
    background-color:rgb(243, 250, 205);
    height: 400px;
    margin-top: 20px;
   }

   .box9-A {
    color: rgb(0, 0, 0);  /*文字色を青に設定*/
    font-size: 100%;
    position: absolute;  
    top: 3440px;  
    left: 580px; 
    margin: 0 auto;
    width: 40%;
    background-color:rgb(243, 250, 205);
    height: 300px;
   }

   .box10A {
    color: rgb(0, 0, 0);  /*文字色を青に設定*/
    font-size: 100%;
    margin: 0 auto;
    width: 80%;
    background-color:rgb(243, 250, 205);
    height: 400px;
   }

   .box10-A {
    color: rgb(0, 0, 0);  /*文字色を青に設定*/
    font-size: 100%;
    position: absolute;  
    top: 3850px;  
    left: 580px; 
    margin: 0 auto;
    width: 40%;
    background-color:rgb(243, 250, 205);
    height: 300px;
   }

   .box11A {
    color: rgb(0, 0, 0);  /*文字色を青に設定*/
    font-size: 100%;
    margin: 0 auto;
    width: 80%;
    background-color:rgb(243, 250, 205);
    height: 500px;
   }

   .box1-A {
    color: rgb(0, 0, 0);  /*文字色を青に設定*/
    font-size: 100%;
    position: absolute;  
    top: 50px;  
    left: 580px; 
    margin: 0 auto;
    width: 40%;
    background-color:rgb(243, 250, 205);
    height: 300px;
   }

.custom-image101 {  
    position: absolute;  
    top: 50px;  
    left: 170px;
    width: 30%;
   }

   .custom-image102{  
    position: absolute;  
    top:540px;  
    left: 170px;
    width: 30%;
   }

   .custom-image103 {  
    position: absolute;  
    top:960px;  
    left: 170px;
    width: 30%;
    height: 250px;
    object-fit:cover
   }

   .custom-image104 {  
    position: absolute;  
    top: 1370px;  
    left: 170px;
    width: 30%
   }

   .custom-image105 {  
    position: absolute;  
    top: 1790px;  
    left: 170px;
    width: 30%;
   }

   .custom-image106 {  
    position: absolute;  
    top: 2200px;  
    left: 170px;
    width: 30%;
   }

   .custom-image107 {  
    position: absolute;  
    top: 2630px;  
    left: 170px;
    width: 30%;
   }

   .custom-image108 {  
    position: absolute;  
    top: 3040px;  
    left: 170px;
    width: 30%;
   }



   .custom-image1000 {  
    position: absolute;  
    top: 3870px;  
    left: 170px;
    width: 30%;
   }



   .box1-A span {
    color: rgb(73, 88, 247);
    font-size: 120%;
    font-weight: 100;
   }



   .box3-A span {
    color: rgb(73, 88, 247);
    font-size: 120%;
    font-weight: 100;
   }

   .box4-A span {
    color: rgb(73, 88, 247);
    font-size: 120%;
    font-weight: 100;
   }

   .box5-A span {
    color: rgb(73, 88, 247);
    font-size: 120%;
    font-weight: 100;
   }

   .box6-A span {
    color: rgb(73, 88, 247);
    font-size: 120%;
    font-weight: 100;
   }

   .box7-A span {
    color: rgb(73, 88, 247);
    font-size: 120%;
    font-weight: 100;
   }

   .box8-A span {
    color: rgb(73, 88, 247);
    font-size: 120%;
    font-weight: 100;
   }

   .box9-A span {
    color: rgb(73, 88, 247);
    font-size: 120%;
    font-weight: 100;
   }

   .box10-A span {
    color: rgb(73, 88, 247);
    font-size: 120%;
    font-weight: 100;
   }

   .box2-A span {
    color: rgb(73, 88, 247);
    font-size: 120%;
    font-weight: 100;
   }

   .box11A span {
    color: rgb(73, 88, 247);
    font-size: 120%;
    font-weight: 100;
   }