// Place all the styles related to the grows controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.big-boxB {
    color: rgb(0, 0, 0);  /*文字色を青に設定*/
    background-color:rgb(169, 248, 248);
}

.p{
    margin: bottom 30px;    
}

.box1B {
    color: rgb(0, 0, 0);  /*文字色を青に設定*/
    font-size: 100%;
    margin: 0 auto;
    width: 80%;
    background-color:rgb(243, 250, 205);
    height: 5000px;
}


.box1B span {
    color: rgb(73, 88, 247);
    font-size: 120%;
    font-weight: 100;
   }